<!--/* (1) */-->
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (body)">

    <head>
        <meta charset="UTF-8" />
        <title>login</title>
        	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
	var loadmore = function(){
	    $.ajax({
	        type : "GET",
	        url : "/hogehoge",
	        dataType : "html",
	        success : function(data, status, xhr) {
	            $('#ajaxtest').html(data);
	    　　  },
	    });
	}
    
    var addcart = function(){
    	console.log($('#merchandise_id').val());
    	console.log($('#num').val());
	    $.ajax({
	        type : "GET",
	        data : {merchandise_id:$('#merchandise_id').val(),num:$('#num').val()},
	        url : "/add-cart",
	        dataType:"json"
	    })
	    .done(function(data) {
	        	console.log(data.status);
	            if(data.status == "OK"){
	            	alert('商品が追加されました');
	            }else{
	            	alert('商品の追加に失敗しました');
	            }
	    　　 }
	    )
	};

    </script>
    </head>
<body>

    <!--/* (3) */-->
    <div id="header" th:replace="~{header :: header}"></div>
    <!--/* (4) */-->
    <div id="body" th:replace="${body}"></div>
    <div id ="ajaxtest">
    	<div id ="footer" th:replace="~{footer :: footer}"></div>
    </div>
</body>
</html>