<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <!--
        <link rel="stylesheet" href="style.css">
    -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
	<script type="text/javascript">
	    //ログイン成功時の同期処理
		function CallToppage(xhr,id) {
			$.cookie("id",id);
			window.location.href = 'http://localhost:8096/top'; // 通常の遷移
		}
	    
	    $(function(){
	        $("#response").html("Response Values");
	        $("#button").click( function(){
	            var url = "http://localhost:8094/v1.0/user/login/";
	            var JSONdata = {
	                id: $("#value1").val(),
	                password: $("#value2").val()      
	            };
	            alert(JSON.stringify(JSONdata));
	            $.ajax({
	                type : 'post',
	                url : url,
	                //xhrFields: {withCredentials: "true"},
	                data : JSON.stringify(JSONdata),
	                contentType: 'application/json',
	                
	                
	                dataType:"json", 
	                success : function(data,status,xhr) {
	                    if ('erep' in data){
	                    	alert(data.erep.message);
	                    }else{
	                    	//var tkn = xhr.getResponseHeader("Authorization");
	                    	//console.log(tkn);
	                    	console.log(xhr.getAllResponseHeaders());
	                    	//console.log($.cookie("token"));
	                    	console.log(xhr.getResponseHeader("Set-Cookie"));
	                    	alert(xhr.getAllResponseHeaders());
		                    CallToppage(xhr,data.data.id);
	                    }
	                },
	                error : function(data) {
	                    // Error
	                    alert("error");
	                    alert(JSON.stringify(data));
	                    $("#response").html(JSON.stringify(data));
	                }
	            });
	        })
	    })
	</script>
</head>

<body>
    <p>id <input type="text" id="value1" size="30"></p>
    <p>pw <input type="text" id="value2" size="30"></p>
    <p><button id="button" type="button">submit</button></p>

</body>

</html>